html,
body {
    margin: 0;
}

body {
    padding-left: 1rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
    display: grid;
    grid-template-columns: 10rem 1fr;
    gap: 1rem;
}

aside {
    border-right: 2px solid #ddd;
}

aside ul {
    list-style: none;
}

aside ul li {
    padding: 0.3rem;
}

footer {
    position: fixed;
    bottom: 1rem;
    width: 100%;
    text-align: center;
}
